@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  .text-outline{
    -webkit-text-stroke: 2.5px rgb(230, 106, 34);
  }
  .box::before{
    content: "";
    position: absolute;
    inset: -10px 80px;
    background: linear-gradient(315deg, rgb(228, 112, 3),rgb(228, 110, 0));
    transition: 0.5s;
    animation: animate 4s linear infinite;

  }
  .box:hover:before{
    inset: -20px 0px;
  }

  @keyframes animate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .box::after{
    content: "";
    position: absolute;
    inset: 25px;
    background:black;
    border-radius: 50%;
    z-index: 1;
  
  }
}

@layer components{
  .btn{
    @apply bg-gradient-to-r from-orange-800 to-orange-400 text-white font-bold px-4 py-2 rounded hover:orange-shadow transition-all duration-300 ;
  }
}
@layer utilities {
  .orange-shadow {
    box-shadow: 0px 0px 10px 5px rgb(219, 90, 15);
  }
}

body{
  background-color: black;
}